
{{> private-nav}}

<main class="centre-content">
  <section>
  <h1>{{post.title}}</h1>
  <p>By: {{post.user.username}} published: {{post.createdAt}} </p>
  <img src={{post.image_url}} class="post-image"></img>
  <div class="row">
    <article class="col-md-9 col-xs-12">
      {{post.body}}
    </article>
    <article class="col-md-3 col-xs-12">
      <h4>Comments</h4>
      <div>
        {{#each post.comments as |comment|}}
          <div class="card mt-2" style="width: 100%">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{comment.user.username}}</h6>
              <h6 class="card-subtitle mb-2 text-muted">{{comment.createdAt}}</h6>
              <p class="card-text comment" id="comment">{{comment.message}}</p>
              {{#if comment.belongsToUser}}
              <div id={{comment.id}}>
                <button class="btn btn-secondary" data-name="edit-comment">Edit</button>
                <button class="btn btn-secondary" data-name="delete-comment">Delete</button>
              </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </article>
  </section>
</main>

